@import url("https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&family=Dosis:wght@200..800&family=Londrina+Shadow&family=Raleway:ital,wght@0,100..900;1,100..900&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Dosis", sans-serif;

  background-color: #fff3e2;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  min-height: 100vh;
}

header {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  margin-bottom: 25px;
  color: #3a3a3a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header span {
  font-weight: 500;
}
.timer-wraper {
  margin-top: 2px;
}
.timer {
  text-align: center;
}

header p {
  font-size: 1.5rem;
  text-align: center;
}

.game-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  max-width: 440px;
  gap: 16px;
  justify-content: center;
  perspective: 1000px;
  margin-bottom: 40px;
}

.card {
  width: 100px;
  height: 140px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s ease;
  cursor: pointer;
}

.card.flipped {
  transform: rotateY(180deg);
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.front {
  background-color: #fd8a8a;
  display: flex;
  align-items: center;
  justify-content: center;
}

.front img {
  width: 70%;
  height: 70%;
  object-fit: contain;
}

.back {
  background-color: #f1f7b5;
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.back img {
  width: 80%;
  height: 80%;
  object-fit: contain;
}

.button-wraper {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.play,
.guide,
.close {
  font-family: "Bitcount Grid Double", monospace;
  padding: 10px 20px;
  background-color: #a8d1d1;
  color: #333;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}
.play:hover,
.guide:hover,
.close:hover {
  background-color: #91c8c8;
}

.guide-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.guide-content {
  background-color: #fff;
  padding: 30px;
  border-radius: 12px;
  max-width: 400px;
  text-align: center;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  font-family: "Dosis", sans-serif;
}
h2 {
  text-align: center;
  margin-bottom: 10px;
}
li {
  text-align: left;
  margin-bottom: 5px;
}
ul {
  margin-bottom: 20px;
}

.hidden {
  display: none;
}
